input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.loginDive {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 200px;
}

#b1 {
  width: 400px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 600px;
  margin-top: 400px;
}

#b2 {
  width: 100px;
  background-color: brown;
  padding: 14px 20px;
  border-radius: 10px;
  margin-left: 750px;
  margin-top: 10px;
  cursor: pointer;
}

#b2:hover {
  background-color: chocolate;
}

.body1 {
  background-image: url("../image/school.jpg");
  background-size: cover;
}

.body2 {
  background-color: red;
}

/*Header*/
#ul2 {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  margin-left: -8px;
  margin-top: -8px;
  margin-right: -8px;
  padding: 0;
}

.li2 {
  float: left;
}

.li2 a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  margin-left: 0px;
  margin-top: 0
}

.li2 a:hover {
  background-color: #111;
}

/*End Header*/
/*Search bar*/
#id {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  width: 10px;
}

.bserach {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

/*End Search bar*/