td {
  padding-left: 20px;
  padding-top: 20px;
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 1px;
}

.inputtext {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.loginDive {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 200px;
}

#b1 {
  width: 400px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 600px;
  margin-top: 400px;
}

#b2 {
  width: 100px;
  background-color: cornflowerblue;
  padding: 14px 20px;
  border-radius: 10px;
  margin-left: 750px;
  margin-top: 10px;
  cursor: pointer;
}

#b2:hover {
  background-color: blue;
}

.body1 {
  background-image: url("../image/school.jpg");
  background-size: cover;
}

.body2 {
  /* background-image: url("../image/img4.jpg");
  background-size: cover; */
  background-color: aliceblue
}

/*Header*/
#ul2 {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  margin-left: -8px;
  margin-top: -8px;
  margin-right: -8px;
  padding: 0;
}

.li2 {
  float: left;
}

.li2 a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  margin-left: 0px;
  margin-top: 0
}

.li2 a:hover {
  background-color: #111;
}

/*End Header*/
/*Search bar*/
.btn-search {
  background: #424242;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #1c1c1c;
}

.btn-search:link, .btn-search:visited {
  color: #fff;
}

.btn-search:active, .btn-search:hover {
  background: #1c1c1c;
  color: #fff;
}

/*End Search bar*/
/*order button*/
.order {
  margin-left: 700px
}

#order1 {
  width: 100px
}

#order2 {
  width: 100px
}

#order3 {
  width: 100px
}

/*end order button*/
.view {
  width: 250px
}

.button {
  margin-left: 20px
}

.view2 {
  margin-left: 90px;
}

.view3 {
  cursor: pointer;
}

.add {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 550px;
  margin-right: 400px;
  margin-top: 200px;
}

#p6 {
  border-style: solid;
  border-radius: 5px;
}

.b5 {
  padding-right: 0px;
}

.addbutton {
  margin-top: 20px;
  margin-left: 800px;
  width: 100px;
  margin-bottom: -200px;
}

#logout {
  padding-left: 1000px;
}