<ul id="ul2">
  <li class="li2"><a class="active" href="#!/enter">Home</a></li>
  <li class="li2"><a href="">News</a></li>
  <li class="li2"><a href="">Contact</a></li>
  <li class="li2"><a href="#!/home">About</a></li>
  <li id="logout" class="li2" ng-click="go2()"><a href="#!/login">logout</a></li>
</ul>

<div class="container">
  <div class="input-group">
    <input type="text" ng-model="name1" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
      <button class="btn btn-search" type="button"><i class="fa fa-search fa-fw"></i> Search</button>
    </span>
  </div>
</div><br><br>

<div class="order">
  <button id="order1" class="btn btn-primary btn-lg" type="button" name="button" ng-click="orderName()">Name</button>
  <button id="order2" class="btn btn-secondary btn-lg" type="button" name="button" ng-click="orderAge()">Age</button>
  <button id="order3" class="btn btn-dark btn-lg" type="button" name="button" ng-click="render()">All</button>
</div>

<br><br>

<div class="button">
  <table>
    <tr>
      <th><button class="view btn btn-outline-success" type="button" name="button">Photo</button></th>
      <th><button class="view btn btn-outline-success" type="button" name="button">FirstName</button></th>
      <th><button class="view btn btn-outline-success" type="button" name="button">LastName</button></th>
      <th><button class="view btn btn-outline-success" type="button" name="button">Age</button></th>
      <th><button class="view btn btn-outline-success" type="button" name="button">Class</button></th>
      <th><button class="view btn btn-outline-success" type="button" name="button">Color</button></th>
      <th><button class="view3 btn btn-outline-danger" type="button" name="button">x</button></th>
    </tr>

</div>


<tr class="view2" ng-init="a='black'" style="color:{{a}}" ng-click="a=='blue'?a='black':a='blue'" ng-repeat="obj in array | orderBy:sort | filter : name1 ">

  <td><img ng-src="image/icon.jpg" style="margin : -12px 10px 0 0;width:50px" /></td>
  <td><span id="p2">{{obj.firstname}} </span></td>
  <td><span id="p3">{{obj.lastname}} </span></td>
  <td><span id="p4">{{obj.age}}</span></td>
  <td><span id="p5">{{obj.class || obj.Class}}</span></td>
  <td><span id="p6" style="background:{{obj.color}};color:black">color</span></td>
  <td><b ng-click="remove(obj)"><button class=" btn btn-danger" type="button" name="button">x</button></b></td>

</tr>
</table>


<button class="addbutton btn btn-info" type="button" name="button" ng-click="traggle()">{{buttonName}}</button>
<div class="add" ng-show="pool">
  <form ng-submit="add(data)">
    <input class="inputtext" type="text" placeholder="firstname" ng-model="data.firstname">
    <input class="inputtext" type="text" placeholder="lastname" ng-model="data.lastname">
    <input class="inputtext" type="text" placeholder="Age" ng-model="data.age">
    <input class="inputtext" type="text" placeholder="Class" ng-model="data.class">
    <input class="inputtext" type="text" placeholder="color" ng-model="data.color">
    <input class="submit" class="submit" type="submit" name="Submit" value="Add">
  </form>
</div>